/*
opacity fade
*/
.opacity-fade-enter-active,
.opacity-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.opacity-fade-enter-from,
.opacity-fade-leave-to {
  opacity: 0;
}

.opacity-fade-enter-to,
.opacity-fade-leave-from {
  opacity: 1;
}

/*
opacity fade with scale
*/
.opacity-scale-enter-active,
.opacity-scale-leave-active {
  transition: all 0.3s ease-in-out;
}

.opacity-scale-enter-from,
.opacity-scale-leave-to {
  opacity: 0;
  transform: scale(0);
}

.opacity-scale-enter-to,
.opacity-scale-leave-from {
  opacity: 1;
  transform: scale(1);
}

/*
wdith grown
*/
.width-grown-enter-active,
.width-grown-leave-active {
  transition: all 0.3s ease;
}

.width-grown-enter-from,
.width-grown-leave-to {
  width: 0px;
  margin: 0px;
}

.width-grown-enter-to,
.width-grown-leave-from {
  width: 50px;
}

/*
topic animation
*/
.topic-leave-active {
  transition: all 0.3s ease;
}

.topic-leave-active {
  position: absolute;
}

.topic-enter-from,
.topic-leave-to {
  width: 0px;
  opacity: 0;
}

.topic-enter-to,
.topic-leave-from {
  width: calc(100% / 3);
  opacity: 1;
}

.topic-move {
  transition: all 0.5s ease-in-out;
}
